*{
    margin:0px;
    padding:0px;
    box-sizing: border-box; 
    font-family: sans-serif;
  }

body {
   
}

   /* since everything is inside the body,such as the fixed div, 
        everything moves if you put margin top on the body. So I needed 
        a containAll div to moive it down below the navbar */
.containAll {
    padding-top: 100px;

}
.postForm {
    height:320px;
    width:fit-content;
    display:flex;
    
    flex-direction: column;
    justify-content: space-between; 
    padding:10px;
    
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    /* position: relative;
    top: 100px; */
   
    
}

.mustFill {
    color:red;
}

#msg {
    color:red;
}

#session_id_label {
    width:fit-content;
}

#session_id {
    width:50px;
    display: inline-block;
}



.upload1 {
    width:fit-content;
} 

.uploadFileDiv2 h5 {
    display: inline-block;
}

 .readmore {
    width:320px;
   
    resize: none;
}

.SubmitDiv {
    text-align: right;
}




@media(max-width: 550px) {
    .readmore {
    width:80vw;
    height:30px;
    resize: none;
    
    }



}